{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="hero">

    <h1>{{ page.title }}</h1>

    <div>
        {{ page.intro|richtext }}
    </div>

    {% if page.hero_image %}
        {% image page.hero_image original as hero %}
        <img src="{{ hero.url }}" alt="{{ hero.alt }}">
    {% endif %}

</div>

{% endblock content %}
