{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
<link rel="stylesheet" href="{% static 'css/contact_modal.css' %}">

{% endblock extra_css %}

{% block content %}
<div class="hero">

    <h1>{{ page.title }}</h1>

    <div>
        {{ page.intro|richtext }}
    </div>
  {% if page.fb %}
<a href="{{ page.fb }}" target="_blank">
    <img src="{% static 'images/facebook.png' %}"
         alt="Facebook"
         width="40">
</a>
{% endif %}
<a href="/webshop/" class="hero-button">
    Webshop
</a>
    <a href="/ervaringen/" class="hero-button">
    Ervaringen
</a>

<a href="/reviews/" class="hero-button">
    feedback
</a>
<a href="/game/" class="hero-button">
    🎮 Game
</a>
<div class="contact-wrapper">
<button class="hero-button"
        onclick="document.getElementById('contactModal').style.display='flex'">
    Contact
</button>
</div>
{% if page.hero_image %}
    {% image page.hero_image original as hero %}

    <img 
        src="{{ hero.url }}"
        alt="{{ hero.alt }}"
        class="hero-image"
        onclick="document.getElementById('aboutModal').style.display='flex'"
        style="cursor:pointer;"
    >
{% endif %}
{% if page.wa %}
<a href="{{ page.wa }}" target="_blank">
    <img src="{% static 'images/whatsapp.png' %}"
         alt="WhatsApp"
         width="40">
</a>
{% endif %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">

    {% if LANGUAGE_CODE == "nl" %}
        <input name="language" type="hidden" value="en">
        <button type="submit" class="hero-button">
            English
         <img src="{% static 'images/en.png' %}" alt="English" class="flag-icon">    
        </button>
    {% else %}
        <input name="language" type="hidden" value="nl">
        <button type="submit" class="hero-button">
            Nederlands
         <img src="{% static 'images/nl.png' %}" alt="Nederlands" class="flag-icon">     
        </button>
    {% endif %}
</form>
</div>
{% include "home/contact_modal.html" %}
{% include "home/aboutme.html" %}

{% endblock content %}
