{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="reviews-page">

    <h1>Feedback</h1>

    <div class="review-form-box">

        <h2>Laat een review achter</h2>

        <form method="POST" class="review-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">
                Plaats review
            </button>
        </form>

    </div>

    <div class="reviews-section">

        <h2>Feedback bezoekers</h2>

        <div class="reviews-grid">

            {% for review in reviews %}
                <div class="review-card">

                    <h3>{{ review.name }}</h3>

                    <p>{{ review.text }}</p>

                </div>

            {% empty %}

                <p>Geen reviews nog</p>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}